html, body {
  height: 100%;
}


body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
}

.farSide {
  text-align: right;
}



html[dir="RTL"] .farSide {
  text-align: left;
}

/* Buttons */
button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: #000;
}
button.primary {
  border: 1px solid #dd4b39;
  background-color: #dd4b39;
  color: #fff;
}
button.primary>img {
  opacity: 1;
}
button>img {
  opacity: 0.6;
  vertical-align: text-bottom;
}
button:hover>img {
  opacity: 1;
}
button:active {
  border: 1px solid #888 !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
button.disabled:hover>img {
  opacity: 0.6;
}
button.disabled {
  display: none;
}
button.notext {
  font-size: 10%;
}

h1 {
  font-weight: normal;
  font-size: 140%;
  margin-left: 5px;
  margin-right: 5px;
}

/* Tabs */
#tabRow>td {
  border-bottom: none;
}
td.tabon {
  border-bottom-color: #ddd !important;
  background-color: #F5C54B;
  padding: 5px 19px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
td.taboff {
  cursor: pointer;
  padding: 5px 19px;
  background-color: #79C54B;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  
}
td.taboff:hover {
  background-color: #eee;
}
td.tabmin {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
}
td.tabmax {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  width: 99%;
  padding-left: 7px;
  padding-right: 10px;
  text-align: right;
}
td.tabwarning {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  padding-top: 1px;
  padding-left: 7px;
  padding-right: 10px;
  text-align: left;
  white-space:nowrap
}


table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: none;
}
td {
  padding: 0;
  vertical-align: top;
}
.content {
  visibility: hidden;
  margin: 0;
  padding: 1ex;
  position: absolute;
  direction: ltr;
}
pre.content {
  border: 1px solid #ccc;
  overflow: scroll;
}
#content_blocks {
  padding: 0;
}
.blocklySvg {
  border-top: none !important;
}
#content_xml {
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  font-family: monospace;
  overflow: scroll;
}
.topright {
  vertical-align: top;
  margin: 1px 12px;
}
.topright_no_margin {
  vertical-align: top;
  margin: 1px 0px 0px 38px;
}


/* Buttons */
button {
  padding: 1px 1px;
  margin: 1px 1px;
  vertical-align: top;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
.trash {
  background-position: 0px 0px;
}
.link {
  background-position: -21px 0px;
}
.run {
  background-position: -42px 0px;
}

.blocklyMainBackground {
fill: #F4FCF8!important;
}

.save {
  height: 21px;
  width: 21px;
  background-image: url(save.png);
}

.loadexample {
  height: 21px;
  width: 21px;
  background-image: url(loadexample.png);
}


.blocklyToolboxDiv {
    background-color: #D5F0E3!important;
}
body {
    background-color: #D5F0E3!important;
    }

		



.version:link, .version:visited {
  font-family: sans-serif;
  font-size: .8em;
  border-radius: 20px 0px 0px 20px;
  color: rgb(0, 64, 0);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 background-color:aliceblue;
}

.version:hover, .version:active {
  background-color:white
}
